body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    line-height: 1.5em;
}

code {
    font-weight: 400;
    background-color: inherit !important; 
    color: #e83e8c;
    font-family: 'JetBrains Mono', 'Courier New', Courier, monospace;
}

a code {
    color: #1565c0;
}