body {
    font-family: 'Roboto', 'PT Sans', 'Open Sans';
    font-size: 18px;
    line-height: 1.5em;
}

code {
    font-weight: 400;
    background-color: inherit !important; 
    color: #e83e8c;
}

a code {
    color: #1565c0;
}